@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="Section-Header">
        <h1 class="PopularSongs">Listening History</h1>
        <button>View All</button>
    </div>
    <div class="songs-section">
        <div class="song-element" draggable="false">
            <img class="song-image" draggable="false" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
    </div>

    <div class="Section-Header">
        <h1 class="PopularSongs">Songs you might like</h1>
        <button>View All</button>
    </div>
    <div class="songs-section">
        <div class="song-element" draggable="false">
            <img class="song-image" draggable="false" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
    </div>

    <div class="Section-Header">
        <h1 class="PopularSongs">Songs with genre Jazz</h1>
        <button>View All</button>
    </div>
    <div class="songs-section">
        <div class="song-element" draggable="false">
            <img class="song-image" draggable="false" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
    </div>

    <div class="Section-Header">
        <h1 class="PopularSongs">Last Popular Songs</h1>
        <button>View All</button>
    </div>
    <div class="songs-section">
        <div class="song-element" draggable="false">
            <img class="song-image" draggable="false" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
        <div class="song-element">
            <img class="song-image" src="src/img/ContentSide/Album.png" alt="">
            <h1 class="song-title">Weekly Motivation</h1>
            <h2 class="song-writer">Ben Ina Scott</h2>
        </div>
    </div>

</section>